 Commenting method in CSS is the same for HTML (CTRL+ SHIFT + forwared slash "/") */
/*CSS Selector*/

/* 
	"*" An asterisk is a universal selector; it is used to target all elements inside the HTML tag
	font-family - changes the style of the font
		Courier New - is the font that is to be used by the webpage to display texts
		monospace - the family from which the browser will try to search for a font once the courier new is not available
	font-size - changes the font size
		20px - value in which the size of the text will be 20 pixels in size

	In CSS, You can also enter multiple properties inside the selector {}

	id selector - this is commonly used to provide unique styling for an element
		"#" '#idname' - hashtag is used for id selector
		letter-spacing - used to change the spaces between each characters of the text

		"." '.class' - dot is used for class selector

		text-transform - used to change case of text

	attribute selector - will only work if the element has the exact attribute that is specified in the selector. Case sensitive
		SYNTAX:  ;
		tag[attribute]

	CSS Specificity - in terms of the selectors, id is the highest priority over other selectors / and universal selector is the lowest.

	CSS Styling Specificity - Inline styling has the highest priority over internal and external styling.
	External styling has the lowest priority over inline and internal styling.

	CSS Styling Priority
	Inline > Internal > External



*/


*{
	font-family: "Courier New", monospace;
	font-size:  20px;
} */

#zuitt-motto{
	letter-spacing: 5px;
}

/* h3{
	letter-spacing: 25px;
} */

.offering-item{
	text-transform: uppercase;
}

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

h1{
	color: red !important;
	background-color: pink;
}

/* !Important - property used in CSS to override the CSS priority rule. It makes the prooperty to which it is attached to priority over any other conflicting style, regardless if its internal or inline 

	If conflicting styles are trying to modify the same element with the use of !important, CSS stule priority rule will take effect 

*/

/*combination selectors

These selectors require two selectors but the target is the latter/second selector

Adjacent Sibling selector

SYNTAX
	firstselector "+" secondselector

selector used to target the selector next to the previous / first selector

*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* In combination selectors, we are not restricted to use uniform/one tag for both, the firstselector can be a class/id/tag while the second selector can be different selector 

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

*/

/*Descendant selector 
	used to select elements (second selector) that are inside*/


/*HEX color value can be used to specify target shade for the color that the dev/client wants*/

#bootcamp-learning-list li{
	color: #075966;
}


h2 ~ a{
	text-decoration: none;
}

/*Child selector
	SYNTAX
	firstselector>secondselector>third>..

*/

body>section>form>label{
	color: rgb(0, 0, 128);
}


body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

nav{
	background-color: whitesmoke;
}

a:hover{
	background-color: #b3d6de;
}

/*pseudo element/selector - this a:hover will change the element style once the cursor hovers a specified text*/

div{
	display: inline-block;
}

section{
	height: 100vh;
	text-align: center;
}

/*vh - viewport height; the browser will use 100% of the screen display
vw - viewport width*/


h2{
	font-size: 1.5rem;
}

/*rem - root element measurement - it multiplies the value attached to it to the root element
REM=HTML
If none set up, default value is 16px*/

ol{
	list-style: none;
}

/*list style types - changes the bullet/ordering of the elements */

/*register section*/

form{
	text-align: center;
	background-color: ghostwhite;
	border-radius: 2px solid black;
	height: 200px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}


/*position - property that changes the position of element based on certain criteria
left - used along the position property to add a certain measurement to the left of the element

directions (Left, right, top, bottom) - it is recommended to only use two directions; vertical (top and bottom) or horizontal (left and right) per selector

% as the value would be based on the parent element*/

button{
	background-color: #cf0053;
	color: whitesmoke;
	border: 0;
	border-radius: 15px;
}