#para3{
	color: maroon;
}

*{
	font-family: "Calibri", sans-serif;
	
}

h1{
	font-size: 50px;
}


h2{
	text-transform: uppercase;
	
}

.learninglist li{
	background-color: mediumvioletred;
}

/* #tools li{
	border-width: 1px;
	border-style: solid;
	border-color: steelblue;

	*/

[title="tools"]{
	border-width: 1px;
	border-style: solid;
	border-color: palevioletred;
}

#other li{
	
	list-style: none;
}


h4 + img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}




section ~ p{
	text-align: center !important;
	color: black !important;

}

body>section>div>ol>li{
	letter-spacing: 5px;
}


